# Configuration PostgreSQL
DB_USER=votre_nom
DB_PASSWORD=votre_mot_de_passe
DB_HOST=localhost
DB_PORT=5432
DB_NAME=foodhealth_db
DUCKDB_DB = 
DUCKDB_TOKEN = 

# L'URL complète pour psycopg
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}